<div class="post">
	<h2 class="title">Welcome to Sass: A How-To-Guide </a></h2>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
		
		<p>This guide has been produced in order to give a brief introduction to SASS, and to demonstrate how SASS can be used as an extremely useful tool in the development of web projects. According to the official <a href='http://sass-lang.com/'>SASS website</a><em>, “Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.”</em> As such, it supports implementations which can be integrated with a variety of programming environments and frameworks. This guide’s focus will be on the use of SASS with the Node.js/Express.js framework, though many of the concepts discussed here apply similarly in other implementations.</p>

		<h3>Reference Material</h3>
		<p>The following is a list of links where information on the subjects discussed in the guide can be found. In addition, an effort has been made to place relevant links (highlighted in blue) alongside material being discussed throughout the guide to make supplementary material more readily available to the users of this guide.</p>
		<ul>
			<li><a href="http://sass-lang.com/">http://sass-lang.com/</a> - The Official SASS Website</li> 
			<li><a href="https://github.com/sass">https://github.com/sass</a> - Git Repositories for SASS</li>
			<li><a href="http://thesassway.com/">http://thesassway.com/</a> - A valuable online resource dedicated to SASS</li>
		</ul>
		
		<h3>Navigating the Guide</h3>
		<p>To use the guide you may Navigate by Section using either the Horizontal or Side Navbars located at the top and right side of your screen respectively, or simply page through by clicking the next/previous links at the bottom of each page.</p>
		
		<p class="links"><a href="/introToSASS">Next</a></p>
	</div>
</div>