<div class="post">
	<h2 class="title">Intro to SASS</h2>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
		<p>The name <strong>SASS</strong> is an acronym for <strong>S</strong>yntactically <strong>A</strong>wesome <strong>S</strong>tyle <strong>S</strong>heets. Based on this name, if you were to guess that SASS is in some way related to Cascading Style Sheets (CSS), you would be correct. In fact, SASS is an extension of CSS that provides additional features including variables, nesting, partials, imports, mixins, inheritance, and operators. These features add powerful functionality that allows for better organization and more efficient writing and maintenance of style sheets.</p> 

		<p>The syntax used in writing SASS files that implement these features will not be discussed here, as writing SASS files is not the subject of this how-to guide. You can read more about these features and how to write SASS at the official <a href='http://sass-lang.com/guide'>SASS website</a>.</p>

		<p class="links"><a href="/">Previous</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/theTwoSyntaxes">Next</a></p>
	</div>
</div>