<div class="post">
	<h2 class="title">Using SASS</h2>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
		
		<p>Now that you know a little bit about the SASS extension, let’s explore how it is used.</p> 
		<p>Unfortunately .scss and .sass files cannot be used directly as style sheets. Instead these files must be interpreted into .css files. This is where preprocessing comes in. Generally speaking, a preprocessor is a program that processes its input data and uses it to produce output that is then used as input for another program. The SASS preprocessor then is a CSS preprocessor which takes a .scss or .sass file (input data) and interprets (processes) it into a .css file (output) which can then be used as a style sheet.</p> 
		<p>The basic workflow when using SASS then is as follows:</p>
		<p><strong>Write a .sass or .scss file &#10152 Translate the file into CSS &#10152 Use the resulting CSS file</strong></p>
		<p>It’s as simple as that.</p> 
		<p>The most direct way to accomplish this is to use SASS as a command line tool. Therefore, we will start by taking a look at how SASS is used on the command line so that we can gain a better understanding of how it works in practice. Then we will move on to our ultimate goal of learning how to use SASS within a Node.JS application which utilizes the Express.js framework.</p>

		<p class="links"><a href="/theTwoSyntaxes">Previous</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/usingSASS-onTheCommandLine">Next</a></p>
	</div>
</div>