<div class="post">
	<h2 class="title">Wrap Up</h2>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
		<p>This concludes this How-To-Guide. Hopefully you found it useful as an introduction on how to use SASS with Node.JS. I know I learned a lot while creating this guide and even put what I learned into practice as this very website implements the functionality described in the <a href="/usingSASS-withNodeJS">Using SASS With Node.JS</a> section.</p>
		<p class="links"><a href="/usingSASS-withNodeJS">Previous</a></p>
	</div>
</div>